<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>

        </style>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            .well {
                color: black;
                background-color: black;
            }
        </style>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <title>game</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Tilted Salt</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('game') }}">Game</a></li>
                {% endif %}
            </ul>
          </div>
        </nav>

        <div class="jumbotron bg-primary">
            <div class="card bg-info">
                <h1 class="text-center">{{ game.title }}</h1>
                <span class="badge badge-pill badge-secondary">{{game.genre}}</span>
                   <table class="table">
                        <thead>
                            <tr>
                                <th><img src={{ game.image }}></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Rating<span class="badge badge-pill badge-secondary">From GameStop.com</span></th>
                                <th>{{game.online_rating}}</th>
                            </tr>
                            <tr>
                                <th>Publisher</th>
                                <th>{{pub.name}}</th>
                            </tr>
                            <tr>
                                <th>Developer</th>
                                <th>{{dev.name}}</th>
                            </tr>
                            <tr>
                                <th>Available on: </th>
                                {% for x in cons %}
                                    <th>{{ x }} </th>
                                {% endfor %}
                            </tr>
                        </tbody>
                   </table>
                </div>
            </div>
        </div>

    </body>
</html>